<h1> About Us </h1>

<p>
	Here at Danklo, we send you a month box full of awesomeness. Check out our 
	<%= link_to "DankloPrime Subscription","http://www.danklo.com/dankloprime-level-subscription/" %>. It's really awesome.
</p>

