<h1> About Us </h1>

<p>
	Selfie Challenge offers a very fun and competitive way........ 
	<%= link_to "to take selfies","http://www.danklo.com/dankloprime-level-subscription/" %>. It's really awesome.
</p>

