<h1>Danklo</h1>
<p>

	Where you will never guess what's inside!
	<%=  link_to "Check us out here.","http://www.danklo.com"  %>
	
</p>

<p> 

	<%= link_to "In the kitchen and we takin no losses!","#" %>

</p>
