/* possible font change */
/*$baseFontFamily: oxygen;
@import url(http://fonts.googleapis.com/css?family=oxygen);*/

$navbar-default-link-color: #FAF0E6;
$navbar-default-bg: black;
$btn-danger-bg: #B22222;
$navbar-default-brand-color: #DC143C;

@import 'bootstrap';

body {
	
	padding-top: 50px;

}

.footer {

	margin-top: 50px;
	a {
		color: $gray;
	}
}